body{
    font-family: 'Merriweather', serif;
    margin: 0px;
}
.name-highlighter{
    color: red;
}
.name-highlighter:hover{
    color:  aqua;
}
h1{
    font-size: 50px;
}
a{
    text-decoration: none;
}
p{
    color: dimgray;
}
.link-button{
    /*background-color: #00a65a;*/
    color: white;
    padding: 10px;
    border-radius: 5px;
    background-image: linear-gradient(45deg, blue, cyan);
}
.link-button:hover{
    /*background-color: turquoise;
    color: yellow;*/
    background-image: linear-gradient(cyan, blue,);
    
}
.section-border {
    background-color: bisque;
    border: 2px solid rgb(14, 201, 77); /**/
}
section{
    height: 750px;
}
.first-section{
    height: 750px;
    background-image: url("image/header-bg.png");
    background-repeat: no-repeat;
    background-color: brown;
    border-color: blue;
    /*border: 2px solid rgb(11, 129, 213);*/
    
}
.half-width{
    width: 40%;
    float: left;
    padding-left: 100px;
    padding-top: 80px;
}
.profile-pic{
    width: 100%;
}
.second-section{
    background-image: url("image/biography-bg.png");
    /*border: 2px solid red;*/
}
.third-section{
    background-image: url("image\latest-work-bg.png");
    /*background-image: linear-gradient(cyan, blue,);*/
    
}
.midle-head{
    text-align: center;
    font-size: 30px;
}
.third-width{
    float: left;
    width: 30%;
    padding-left: 30px;
    padding-right: 10px;
    padding-top: 100px;
    box-shadow: 10px 10px 20px gray;
    border-radius: 20px;
}
.latest-work {
    border-radius: 20px;
}
.footer-section{
    background-image: url("image/footer-bg.png");
}
.clint{
    font-size: 16px;
}
.clint2{
    font-size: 12px;
}
.mail-button{
    color: white;
    padding: 30px 100px;
    border-radius: 5px;
    background-image: linear-gradient(45deg, blue, cyan);
    
}
.midle-head-clint3{
    text-align: center;
    padding-top: 50px;
}
